body {
    font-family: 'Permanent Marker', cursive;
}

.brand-logo {
    margin-left: 5px;
}

nav {
    background: white;
    border-bottom: solid #454545 5px;
}

nav ul a {
    color: #454545;
}

nav .brand-logo {
    color: #454545;
}

.section {
    text-align: center;
    border-bottom: solid #454545 5px;
    border-top: solid #454545 5px;
    background-color: #454545;
}

.logo {
    width: 100%;
}

.parapic {
    width: 80%;
}

i {
    font-size: 65px;
    margin:0 2%;
    margin-bottom: 2%;
}

i:hover {
    color: gray;
}
.soclinks {
    display: block;
    margin: 0 auto;
}

h2 {
    font-size: 6.56rem;
}

.grey-text {
    font-size: 19pt;
}

a{
    color: inherit;
}

footer {
    text-align: center;
}

.cont-footer {
    background: white;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.contactpage {
    background: url('../owenbg.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

form {
background: white;
margin: 0 auto;
padding: 0 5%;
padding-bottom: 3%;
}